@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

$fondo-header: #100217;
$texto-header: #FAFAFA;
$gris-claro: #E4E8EE;
$gris-oscuro: #313131;

$color-texto: #030B1C;

$font-family-roboto: 'Roboto', sans-serif;
$font-style-regular: normal;
$font-style-bold: Bold;
$font-size-16: 16px;
$font-size-20: 20px;
$font-size-24: 24px;
$character-spacing-0-32: 0.32px;
$character-spacing-0-4: 0.4px;
$character-spacing-0-48: 0.48px;
$line-spacing-19: 19px;
$line-spacing-22: 22px;
$line-spacing-24: 24px;
$line-spacing-29: 29px;
$text-transform-uppercase: uppercase;

$a-hover: #00ac95;